$main-color: #00C5CD;
$grid-padding-width: 0;

page-home {
    ion-content{
      background-image: url("../../assets/imgs/just-waves.png");
    }
    .small {
      font-size: 10px;
    }
    .entry-title {
      font-size: 16px;
      font-weight: bold;
      padding: 10px 0;
    }
    .entry-time {
      font-style: italic;
    }
    .del-btn {
      color: $main-color;
    }
    .add-btn {
      background-color: $main-color;
    }
    .edit-btn {
      width: 56px;
      height: 32px;
      font-size: 13px;
      color: $main-color;
      border: 2px solid $main-color;
      background-color: #fff;
      -webkit-box-shadow: none;
    }
}
